# %% LLM y Agente %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
langchain>=0.3.7,<0.4.0
langchain-core>=0.3.0,<0.4.0
langchain-groq>=0.2.1,<0.3.0
langgraph>=1.1.6,<2.0.0

# %% Vector Store (cloud) %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
qdrant-client>=1.9.0

# %% LLM Provider %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
groq==0.37.1

# %% Observabilidad %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
langfuse==2.60.0

# %% Interfaz %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
streamlit==1.40.2
plotly==6.6.0

# %% Pipeline de datos %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
requests==2.32.3
beautifulsoup4==4.12.3
pypdf==5.1.0

# %% Utilidades %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
python-dotenv==1.0.1
